

<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
<script src="https://cdn.tailwindcss.com"></script>

<script
    src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
    defer
></script>

<div class="h-full bg-white p-1">
        <div class="my-2 flex border rounded flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
            <div class="w-full flex flex-col 2xl:w-1/1">
                <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
                    <h4 class="text-xl text-gray-900 font-bold">
                        <li class="flex border-y py-2">
                        
                        <span class="text-gray-700">{{schoolid?.name}}</span>
                    </li></h4>
                    <ul class="mt-2 text-gray-700">
                        
                        <li class="flex border-b py-2">
                            <span class="font-bold w-24">School Category:</span>
                            <span class="text-gray-700">{{schoolid?.type}}</span>
                        </li>
                        <li class="flex border-b py-2">
                            <span class="font-bold w-24">Product in use:</span>
                            <span class="text-gray-700">{{schoolid?.product}}</span>
                        </li>
                        <li class="flex border-b py-2">
                            <span class="font-bold w-24">County:</span>
                            <span class="text-gray-700">{{schoolid?.county}}</span>
                        </li>
                        <li class="flex border-b py-2">
                            <span class="font-bold w-24">Registration Date:</span>
                            <span class="text-gray-700">{{schoolid?.registration_date}}</span>
                        </li>
                        <li class="flex border-b py-2">
                            <span class="font-bold w-24">Email:</span>
                            <span class="text-gray-700">{{schoolid?.contact_information['email']}}</span>
                        </li>
                        <li class="flex border-b py-2">
                            <span class="font-bold w-24">Mobile Number:</span>
                            <span class="text-gray-700">{{schoolid?.contact_information['phone']}}</span>
                        </li>
                        
                    </ul>
                </div>

            </div>

        </div>

</div>

<h5 class="text-2xl text-gray-600 font-medium my-5 block">Invoices({{schoolid?.invoices.length}})</h5>
<button [hidden]="inputData" (click)="enableInputForm()" class="text-white bg-green-600 p-3">Create an invoice</button>
<button [hidden]="!inputData" (click)="disableInputForm()" class="text-white bg-green-600 p-3">Close Form</button>
<div [hidden]="inputData" class="h-full bg-white p-1">
<div  class="flex flex-wrap -mx-4">
    <div *ngFor="let school of schoolid?.invoices" class="w-full md:w-1/2 lg:w-1/3 px-4">
        
       <div
          class="
          p-10
          md:px-7
          xl:px-10
          rounded-[20px]
          bg-white
          shadow-md
          hover:shadow-lg
          mb-8
          "
          >
     
            <h4 class="font-semibold text-xl text-dark mb-3">
                {{school.invoice_number}}
             </h4>
          <table>
            <tbody>
                <tr>
                    <td class="ml-2">
                        <b>Invoice item:</b>
                        
                    </td>
                    <td>
                        <p [ngClass]="{'block': !edit, 'hidden': edit}">{{school.invoice_item}}</p>
                        <select [hidden]="!edit" [(ngModel)]="school.invoice_item" class="border-1 bg-transparent">
                            <!-- Add options for selectable items -->
                            <option selected value="Zeraki Finance">Zeraki Finance</option>
                            <option value="Zeraki Analytics">Zeraki Analytics</option>
                            <option value="Zeraki Timetable">Zeraki Timetable</option>
                            <!-- Add more options as needed -->
                          </select>
                          
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Creation date:</b>
                        
                    </td>
                    <td>
                        <p [ngClass]="{'block': !edit, 'hidden': edit}">{{school.creation_date}}</p>
                        <input type="date" hidden [ngClass]="{'block': edit, 'hidden': !edit}" [(ngModel)]="school.creation_date" class="border-0 bg-transparent" />
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Due date:</b>
                        
                    </td>
                    <td>
                        <p [ngClass]="{'block': !edit, 'hidden': edit}">{{school.due_date}}</p>
                        <input type="date" hidden [ngClass]="{'block': edit, 'hidden': !edit}" [(ngModel)]="school.due_date" class="border-0 bg-transparent" />
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Amount:</b>
                        
                    </td>
                    <td>
                        <p [ngClass]="{'block': !edit, 'hidden': edit}">{{school.amount}}</p>
                        <input type="number" hidden [ngClass]="{'block': edit, 'hidden': !edit}" [(ngModel)]="school.amount"class="border-0 bg-transparent" />
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Paid amount:</b>
                        
                    </td>
                    <td>
                        <p [ngClass]="{'block': !edit, 'hidden': edit}">{{school.paid_amount}}</p>
                        <input type="number" hidden [ngClass]="{'block': edit, 'hidden': !edit}" [(ngModel)]="school.paid_amount" class="border-0 bg-transparent" />
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Balance:</b>
                        
                    </td>
                    <td>
                        <p [ngClass]="{'block': !edit, 'hidden': edit}">{{school.balance}}</p>
                        <input type="number" hidden [ngClass]="{'block': edit, 'hidden': !edit}" [(ngModel)]="school.balance" class="border-0 bg-transparent" />
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Status:</b>
                        
                    </td>
                    <td>
                        <p [ngClass]="{'block': !edit, 'hidden': edit}">{{school.status}}</p>
                        <input hidden [ngClass]="{'block': edit, 'hidden': !edit}" [(ngModel)]="school.status" class="border-0 bg-transparent" />
                    </td>
                </tr>

                <tr>
                    <td class="ml-5">
                        <b>Days until due:</b>
                        
                    </td>
                    <td>
                        <p [ngClass]="{'block': !edit, 'hidden': edit}">{{school.days_until_due}}</p>
                        <input type="number" hidden [ngClass]="{'block': edit, 'hidden': !edit}" [ngClass]="{'block': edit, 'hidden': !edit}" [(ngModel)]="school.days_until_due"class="border-0 bg-transparent" />
                    </td>
                </tr>
            </tbody>
          </table>
          <div class="flex justify-between mt-5">
             <div class="">
               <button [ngClass]="{'block': !edit, 'hidden': edit}" (click)="enableEdit()" class="bg-green-500 text-white p-2 round">Update</button>
               <button [ngClass]="{'block': edit, 'hidden': !edit}" (click)="disableEdit()" class="bg-green-500 text-white p-2 round">Done</button>
               
             </div>
             <div class="">
                
                <button class="bg-red-500 text-white p-2 round">Delete</button>
              </div>
              </div>
       </div>
    </div>

 </div>
</div>

<div [hidden]="!inputData" class="h-full bg-white p-1">

    <div  class="flex flex-wrap -mx-4">
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" class="w-full md:w-1/2 lg:w-1/3 px-4">
            
           <div
              class="
              p-10
              md:px-7
              xl:px-10
              rounded-[20px]
              bg-white
              shadow-md
              hover:shadow-lg
              mb-8
              "
              >
         
                <h4 class="font-semibold text-xl text-dark mb-3">
                    Create a new Invoice
                 </h4>
              <table>
                <tbody>
                    <tr>
                        <td class="ml-2">
                            <b>Invoice item:</b>
                            
                        </td>
                        <td>
                            
                            <select required formControlName="invoice_item" class="border-1 bg-transparent">
                                <!-- Add options for selectable items -->
                                <option selected value="Zeraki Finance">Zeraki Finance</option>
                                <option value="Zeraki Analytics">Zeraki Analytics</option>
                                <option value="Zeraki Timetable">Zeraki Timetable</option>
                                <!-- Add more options as needed -->
                              </select>
                              
                        </td>
                    </tr>
    
                    <tr>
                        <td class="ml-2">
                            <b>Creation date:</b>
                            
                        </td>
                        <td>

                            <input required type="date"  formControlName="creation_date" class="border-0 bg-transparent" />
                        </td>
                    </tr>
    
                    <tr>
                        <td class="ml-2">
                            <b>Due date:</b>
                            
                        </td>
                        <td>
                            
                            <input required type="date" formControlName="due_date" class="border-0 bg-transparent" />
                        </td>
                    </tr>
    
                    <tr>
                        <td class="ml-2">
                            <b>Amount:</b>
                            
                        </td>
                        <td>

                            <input required type="number" formControlName="amount" class="border-0 bg-transparent" />
                        </td>
                    </tr>
    
                    <tr>
                        <td class="ml-2">
                            <b>Paid amount:</b>
                            
                        </td>
                        <td>
                            
                            <input required type="number" formControlName="paid_amount" class="border-0 bg-transparent" />
                        </td>
                    </tr>
    
                    <tr>
                        <td class="ml-2">
                            <b>Balance:</b>
                            
                        </td>
                        <td>
                            <input required type="number" formControlName="balance" class="border-0 bg-transparent" />
                        </td>
                    </tr>
    
                    <tr>
                        <td class="ml-2">
                            <b>Status:</b>
                            
                        </td>
                        <td>
                            
                            <input required formControlName="status" class="border-0 bg-transparent" />
                        </td>
                    </tr>
    
                    <tr>
                        <td class="ml-5">
                            <b>Days until due:</b>
                            
                        </td>
                        <td>
                           
                            <input required type="number" formControlName="days_until_due" class="border-0 bg-transparent" />
                        </td>
                    </tr>
                </tbody>
              </table>

                 <div class="">
                    
                    <button type="submit" class="w-full bg-green-500 text-white p-2 round">Create Invoice</button>
                  </div>

           </div>
        </form>
    
     </div>
    
    
    </div>


<h5 class="text-2xl text-gray-600 font-medium my-5 block">Collections({{schoolid?.collections.length}})</h5>
<div class="h-full bg-white p-1">

<div class="flex flex-wrap -mx-4">
    <div *ngFor="let school of schoolid?.collections" class="w-full md:w-1/2 lg:w-1/3 px-4">
       <div
          class="
          p-10
          md:px-7
          xl:px-10
          rounded-[20px]
          bg-white
          shadow-md
          hover:shadow-lg
          mb-8
          "
          >

          <h4 class="font-semibold text-xl text-dark mb-3">
             {{school.collection_number}}
          </h4>
          <table>
            <tbody>
                <tr>
                    <td class="ml-2">
                        <b>Invoice Number:</b>
                        
                    </td>
                    <td>
                        {{school.invoice_number}}
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Collection date:</b>
                        
                    </td>
                    <td>
                        {{school.date_of_collection}}
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Status:</b>
                        
                    </td>
                    <td>
                        {{school.status}}
                    </td>
                </tr>

                <tr>
                    <td class="ml-2">
                        <b>Amount:</b>
                        
                    </td>
                    <td>
                        {{school.amount}}
                    </td>
                </tr>

            </tbody>
          </table>
          <p class="text-body-color">
             
          </p>
       </div>
    </div>

 </div>


</div>







